
* {
box-sizing: border-box
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center
}

.mainContainer {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-around;
  grid-gap: 20px;

}


//parent
.cardOverlayContainer{
  display: flex;
  align-items: flex-end;


}

//child
.overlayContent{
background: linear-gradient(
  to bottom, 
  transparent,
  black
  );



  display: flex;
  flex-flow: column;
  width: 100%; 
  height: auto;
  row-gap: 4px;
  padding: 5px;

}

.cardGridContainer{
  background-color: rgb(248, 251, 253);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 4px;

}

.productGridImage {
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

button {    
  border-radius: 2px;
  border: solid 1px #d3caca;
  font-weight: bold;
  cursor: pointer;
  padding: 3px;
  background-color: #ffffff;
  font-size: 14px;
  &:hover{
    color: rgb(0, 128, 0);
    border: solid 1px rgb(0, 128, 0);
  }


}

.row{
background-color: royalblue;
display: flex;
flex-wrap: row;

}


.column {
border: solid 2px yellow;
// flex: 0 0 50%;
max-width: 100%;

}

@media(max-width: 800px) {
.row {
  flex-direction: column;
}
}
