
* {
box-sizing: border-box
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center
}

.mainContainer {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-around;
  grid-gap: 20px;

}

.cardOverlayContainer{
  padding: 20px;
  background: blue;

}
.cardOverlayContainer:hover  + .overlayContent{

/* ! fix hover */

}

.overlayContent{
background: linear-gradient(
  to bottom, 
  transparent,
  black
);
display: none;

}

.cardGridContainer{
  background-color: lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productGridImage {
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
}
